*{
    font-family: 'Verdana';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 1rem;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    margin-bottom: 1rem;
}

.container {  
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". Principal ."
      ". . .";
}
  
.Principal {  
    display: grid;
    grid-template-columns: 0.4fr 1.6fr 1.6fr 0.4fr;
    grid-template-rows: 1fr 1.3fr 1.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Titulo Titulo Titulo Titulo"
      ". Text1 Carrosel ."
      ". Text2 Carrosel ."
      ". . . .";
    grid-area: Principal;
}

.Principal {
    position: absolute;
    width: 1300px;
    height: 800px;
    left: 3%;
    top: 10%;
    background: #232B3F;
    border-radius: 50px;
}
  
.Titulo {
    justify-self: center;
    align-self: center;
    grid-area: Titulo;
}

.Titulo p{
    position: absolute;
    width: 200px;
    height: 52px;
    left: 134px;
    top: 80px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
  
.Carrosel { 
    grid-area: Carrosel; 
}

.content {
    height: 450px;
    width: 570px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 20%;
    left: 50%;
    box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.75);
}

.content .imagem {
    width: 400%;
    animation-name: animacao;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.content .carrosel img .imagem {
    height: 100%;
    width: 108%;
}

.navegacao {
    display: flex;
    position: absolute;
    bottom: 120px;
    left: 85px;
}

.barra {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
}

.carrosel {
    width: 400%;
    height: 100%;
    overflow: hidden;
}

.imagem {
    transition: .6s;
}
  
.Text1 { 
    grid-area: Text1; 
}
  
.Text1 p{
    position: absolute;
    width: 534px;
    left: 60px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 79px;
    color: #FFFFFF;
    text-align: center;
}

.Text2 { 
    grid-area: Text2; 
}

.Text2 p {
    position: absolute;
    width: 522px;
    height: 198px;
    left:75px;
    top: 400px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.btn-primary{
    padding: .6rem 1.2rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 2rem;
    font-family: 'Arvo';
    transition: 0.4s;
    position: absolute;
    z-index: 2;
    top:97%;
    right: 475px;
    font-weight: bold;

}



#modal{
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: #d3d3d3;
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
    padding-bottom: 0.3rem;
   
}

.modal-body .flexbox{
    margin-bottom: 2rem ;

}

.flexbox{
    display: flex;
}

.fechar {
  position: relative;
  line-height: 2rem;
  text-align: center;
  right: 14.5rem;
  top: -7rem;   
  background-color: black;
}

#modal.hide{
    opacity: 0;
}







  